body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0; 
    transition: background-color 0.5s ease;
  
}

/* Header CSS */
header {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: sticky;
    top: 0;
    z-index: 100;
  
  }


  .span-col {
	color: #35b5ff;
}


.ankanNames{
  background: #ecf0f1;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}


.image-section {
    flex: 1; 
    padding: 20px;
  }
  
  .image-section img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  
/* Adding Responsiveness on a mobile device */
@media only screen and (max-width: 600px) {
    section {
        padding: 2em 0; 
    }
  
    .container {
        padding: 10px; 
    }
  }