/* Header CSS */
header {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: sticky;
    top: 0;
    z-index: 100;
  
  }

body {
    background-color: #f8f9fa;
    color: #343a40;
}


.alert-secondary {
    background-color: #e9ecef;
    color: #495057;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}


.span-col {
	color: #35b5ff;
}



